@model newsWebapp.Models.ticket

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_Layout.cshtml";
}
<div id="mainContent" class="content container" style="margin-right: 0;">
    <div class="card ticket-card">
        <div class="card-header">
            <h5>
                تیکت جدید
            </h5>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        عنوان
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        فوریت
                        <div class="col-md-10">
                            <select name="priority" class="form-control">
                                <Option value=1 class="list-group-item-danger">ضروری</Option>
                                <Option value=2 class="list-group-item-warning">مهم</Option>
                                <Option value=3 class="list-group-item-success">عادی</Option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group">
                        متن
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.content, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="ارسال" class="btn btn-success" />
                @Html.ActionLink("بازگشت", "Index", null, new { @class = "btn btn-info" })
            </div>

        }
    </div>
</div>