@model IEnumerable<newsWebapp.Models.tag>

@{
    ViewBag.Title = "برچسب ها";
    Layout = "~/Views/_Layout.cshtml";
}
<div id="mainContent" class="content container" style="margin-right: 0;">

    <h2>برچسب ها</h2>

    <p>
        @Html.ActionLink("افزودن برچسب", "Create", null, new { @class = "btn btn-info" })
    </p>
    <table class="table">
        <tr>
            <th>
                عنوان
            </th>
            <th>مدیریت</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.ActionLink("اخبار", "Details", new { id = item.code }, new { @class = "btn btn-info" })
                    @if (ViewBag.role > 0)
                    {
                        @Html.ActionLink("ویرایش", "Edit", new { id = item.code }, new { @class = "btn btn-info" })
                        <span> </span>
                        @Html.ActionLink("حذف", "Delete", new { id = item.code }, new { @class = "btn btn-danger" })

                    }
                </td>
            </tr>
        }

    </table>

</div>

