@model newsWebapp.Models.news

@{
    ViewBag.Title = "حذف خبر";
    Layout = "~/Views/_Layout.cshtml";

}
<html>
<head>
    <style>

        .img-preview {
            margin-top: 10px;
            max-width: 100%; /* Ensure the preview fits within the container */
            max-height: auto
        }
    </style>
</head>
<body>
    <div id="mainContent" class="content container">

        <h2>حذف</h2>

        <h3>مطمئنی؟</h3>

        <div class="row">
            <div class="col-md-8">

                <dl class="dl-horizontal">
                    <dt>
                        عنوان
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.title)
                    </dd>


                    <dt>
                        پیوند
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.link)
                    </dd>

                    <dt>
                        خلاصه
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.summary)
                    </dd>

                    <dt>
                        نویسنده
                    </dt>

                    <dd>
                        @ViewBag.user
                    </dd>

                </dl>
            </div>



            <!-- Sidebar for Category and Tag Selection -->
            <div class="col-md-4">
                <div class="form-group">
                    <div class="card">
                        <div class="card-header">
                            تایید
                        </div>
                        <div class="card-body">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="حذف" class="btn btn-danger" /> 
                                    @Html.ActionLink("بازگشت", "Index", null, new {@class = "btn btn-info"})
                                </div>
                            }
                        </div>
                    </div>


                    <br />
                    <div class="card">
                        <div class="card-header">
                            پیش نمایش تصویر
                        </div>
                        <div class="card-body">
                            <img id="imagePreview" src="@Url.Content(Model.image)" class="img-preview" display: none alt="Image Preview" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</body>
</html>

